/*
    Braxton Little, Jake Gridley 
    game_style.css: THis page is the css page that is used to style the game.html page
*/

#gameTitleDiv {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 25%;
  text-align: center;
  background-color: #005689;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.7em;
}

a {
  color: #ff895d;
}

h4{
  font-size: 16px;
  color: yellow;
}

#gMenuButton {
  position: fixed;
  top: 1%;
  left: 1%;
  color: #ff895d;
  border: 2px solid #ff895d;
  padding: 4px;
}

#gameBody {
  position: fixed;
  top: 22%;
  height: 75%;
  left: 0%;
  width: 100%;
  text-align: center;
  background-color: #d5eeff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  font-family: "Courier New", Courier, monospace;
}

#pacmanContainer {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  align-content: flex-start;
}

#gameContainer {
  margin-left: auto;
  margin-right: auto;
  top: 25%;
}

#popupContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width:100%;
  height:550px;
}

#pacmanPopup {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-evenly;
  width: 70%;
  height:450px;
  border: 1px solid black;
}

#startButton {
  height:35px;
  margin-top:auto;
  margin-bottom:auto;
}

#scoreCounter{
  justify-content: center;
}

h4{
  position:absolute;
  top:50%;
  left: 45%;
  z-index: 100;
  font-size: 16px;
  font-weight:bold;
}

.gameData{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  margin-left:auto;
  margin-right:auto;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;

  background-color:black;
  border: 2px solid black;
  color:white;
  height:30px;
}

.setupButton {
  width: 20%;
  max-width: 200px;
  min-width:100px;
  height:55px;
  font-family: "Courier New", Courier, monospace;
  text-align:center;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 1.25em;
}

#choiceContainer {
  width: 100%;
}

.buttonRow{
  width: 100%;
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
}

.availablePath {
  width: 35px;
  height: 35px;
  background-color: black;
  position: relative;
}


.availablePath::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 2px;
  background-color: pink;
  z-index:2;
}

.travelledPath {
  width: 35px;
  height: 35px;
  background-color: black;
}

.wall {
  width: 35px;
  height: 35px;
  background: url("../images/horizontal_wall.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
}

.squareWall {
  width: 35px;
  height: 35px;
  background: url("../images/square_wall.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
}

.cornerWall {
  width: 35px;
  height: 35px;
  background: url("../images/corner_wall.png");
  background-color: black;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center center;
}

.uWall {
  width: 35px;
  height: 35px;
  background: url("../images/u-wall.png");
  background-color: black;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center center;
}

.ghostPrison {
  width: 35px;
  height: 35px;
  background: url("../images/Prison_Icon.png");
  background-color: black;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center center;
}

.Blinky {
  width: 35px;
  height: 35px;
  background: url("../images/Blinky_Icon.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  z-index:3;
}

.Pinky {
  width: 35px;
  height: 35px;
  background: url("../images/Pinky_Icon.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  z-index:3;
  
}

.Inky {
  width: 35px;
  height: 35px;
  background: url("../images/Inky_Icon.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  z-index:3;
}

.Clyde {
  width: 35px;
  height: 35px;
  background: url("../images/Clyde_Icon.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  z-index:3;
}

.Pacman {
  width: 35px;
  height: 35px;
  background: url("../images/Pacman_Icon.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;

  z-index:3;
}
