#helpTitleDiv {

    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 25%;
    text-align: center;
    background-color: #005689;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.7em;

}

a {
    color: #ff895d;
}

#hMenuButton {
    position: fixed;
    top: 1%;
    left: 1%;
    color: #ff895d;
    border: 2px solid #ff895d;
    padding: 4px;
}

#contentDiv {
    position: fixed;
    top: 25%;
    left: 0%;
    height: 75%;
    width: 100%;
    text-align: center;
    background-color: #d5eeff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

html {
    font-family: 'Courier New', Courier, monospace;
}
