#titleDiv {

    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 25%;
    text-align: center;
    background-color: #005689;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.7em;

}

#userFormDiv {
    position: fixed;
    top: 25%;
    left: 0%;
    height: 75%;
    width: 50%;
    text-align: center;
    background-color: #d5eeff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#newFormDiv {
    position: fixed;
    top: 25%;
    left: 50%;
    height: 75%;
    width: 50%;
    text-align: center;
    background-color: #d5eeff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    margin: 10px;
}

label, input {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-size: 2.5em;
}

html {
    font-family: 'Courier New', Courier, monospace;
}


