/*
    Jake Gridley
    settings_style.css: THis page is the css page that is used to style the settings.html page
*/


#settingsTitleDiv {

    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 25%;
    text-align: center;
    background-color: #005689;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.7em;

}

#speedDiv {
    position: fixed;
    top: 25%;
    left: 0%;
    height: 45%;
    width: 50%;
    text-align: center;
    background-color: #d5eeff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: #ff895d;
}

#setMenuButton {
    position: fixed;
    top: 1%;
    left: 1%;
    color: #ff895d;
    border: 2px solid #ff895d;
    padding: 4px;
}


#diffDiv {
    position: fixed;
    top: 25%;
    left: 50%;
    height: 45%;
    width: 50%;
    text-align: center;
    background-color: #d5eeff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#startButton {
    position: fixed;
    top: 70%;
    left: 0%;
    height: 30%;
    width: 100%;
    text-align: center;
    background-color: #d5eeff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}



input {
    margin: 10px;
}

label, input, select {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-size: 2.5em;
}

html {
    font-family: 'Courier New', Courier, monospace;
}